<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Super Wower</span>
        <span class="site-description">Wow everyone in the world</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Our Github" target="_blank" href="https://github.com/superwower"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll><nobr>About Us</nobr></a>
        <a class="link" href="#joinus" data-scroll><nobr>How to Join Us</nobr></a>
        <a class="link" href="#members" data-scroll><nobr>Members</nobr></a>
        <a class="link" href="#projects" data-scroll><nobr>Projects</nobr></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
