#about, #joinus, #members {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech .member {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

.member-thumbnail {
  border-radius: 50%;
  border: 2px solid black;
  width: 200px;
}

.member-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  .icon {
    text-align: center;
    color: black;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid black;
    transition: all .7s;
    &:hover, &:active {
      color: $main;
      color: white;
      background: black;
    }
    @media only screen and (min-width:$cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}
